// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

   /** Dracula - Background **/
  --ion-color-background: #282a36;
  --ion-color-background-rgb: 40,42,54;
  --ion-color-background-contrast: #ffffff;
  --ion-color-background-contrast-rgb: 255,255,255;
  --ion-color-background-shade: #232530;
  --ion-color-background-tint: #3e3f4a;

  /** Dracula - Current Line **/
  --ion-color-current-line: #44475a;
  --ion-color-current-line-rgb: 68,71,90;
  --ion-color-current-line-contrast: #ffffff;
  --ion-color-current-line-contrast-rgb: 255,255,255;
  --ion-color-current-line-shade: #3c3e4f;
  --ion-color-current-line-tint: #57596b;

  /** Dracula - Comment **/
  --ion-color-comment: #6272a4 ;
  --ion-color-comment-rgb: 98,114,164;
  --ion-color-comment-contrast: #ffffff;
  --ion-color-comment-contrast-rgb: 255,255,255;
  --ion-color-comment-shade: #566490;
  --ion-color-comment-tint: #7280ad;

  /** Dracula - Green **/
  --ion-color-green: #50fa7b;
  --ion-color-green-rgb: 80,250,123;
  --ion-color-green-contrast: #000000;
  --ion-color-green-contrast-rgb: 0,0,0;
  --ion-color-green-shade: #46dc6c;
  --ion-color-green-tint: #62fb88;

  /** Dracula - Orange **/
  --ion-color-orange: #ffb86c;
  --ion-color-orange-rgb: 255,184,108;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0,0,0;
  --ion-color-orange-shade: #e0a25f;
  --ion-color-orange-tint: #ffbf7b;

  /** Dracula - Red **/
  --ion-color-red: #ff5555;
  --ion-color-red-rgb: 255,85,85;
  --ion-color-red-contrast: #000000;
  --ion-color-red-contrast-rgb: 0,0,0;
  --ion-color-red-shade: #e04b4b;
  --ion-color-red-tint: #ff6666;

  /** Dracula - Pink **/
  --ion-color-pink: #ff79c6;
  --ion-color-pink-rgb: 255,121,198;
  --ion-color-pink-contrast: #000000;
  --ion-color-pink-contrast-rgb: 0,0,0;
  --ion-color-pink-shade: #e06aae;
  --ion-color-pink-tint: #ff86cc;

}

.ion-color-background {
  --ion-color-base: var(--ion-color-background);
  --ion-color-base-rgb: var(--ion-color-background-rgb);
  --ion-color-contrast: var(--ion-color-background-contrast);
  --ion-color-contrast-rgb: var(--ion-color-background-contrast-rgb);
  --ion-color-shade: var(--ion-color-background-shade);
  --ion-color-tint: var(--ion-color-background-tint);
}

.ion-color-current-line {
  --ion-color-base: var(--ion-color-current-line);
  --ion-color-base-rgb: var(--ion-color-current-line-rgb);
  --ion-color-contrast: var(--ion-color-current-line-contrast);
  --ion-color-contrast-rgb: var(--ion-color-current-line-contrast-rgb);
  --ion-color-shade: var(--ion-color-current-line-shade);
  --ion-color-tint: var(--ion-color-current-line-tint);
}

.ion-color-comment {
  --ion-color-base: var(--ion-color-comment);
  --ion-color-base-rgb: var(--ion-color-comment-rgb);
  --ion-color-contrast: var(--ion-color-comment-contrast);
  --ion-color-contrast-rgb: var(--ion-color-comment-contrast-rgb);
  --ion-color-shade: var(--ion-color-comment-shade);
  --ion-color-tint: var(--ion-color-comment-tint);
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-base-rgb: var(--ion-color-green-rgb);
  --ion-color-contrast: var(--ion-color-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-green-shade);
  --ion-color-tint: var(--ion-color-green-tint);
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}

.ion-color-red {
  --ion-color-base: var(--ion-color-red);
  --ion-color-base-rgb: var(--ion-color-red-rgb);
  --ion-color-contrast: var(--ion-color-red-contrast);
  --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb);
  --ion-color-shade: var(--ion-color-red-shade);
  --ion-color-tint: var(--ion-color-red-tint);
}

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink);
  --ion-color-base-rgb: var(--ion-color-pink-rgb);
  --ion-color-contrast: var(--ion-color-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-pink-shade);
  --ion-color-tint: var(--ion-color-pink-tint);
}
