ion-content{
  --background:white;
}

ion-card{
  display:block;
  margin-top: 50%;
}

#botoes{
  display: inline-block;
  margin-left: 15%;
}

.center{
  height: 100vh;
  display: flex;
  align-items: center;
}
