@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1{
    font-weight: bold ;
}

ion-content{
  --ion-background-color:#ffffff;
}

ion-card{
  --ion-background-color:#ffffff;
}

#octocat{
  height: 100px;
  width: 100px;
  margin-left: 33%;
  margin-right: 33%;
}
