<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="https://avatars.githubusercontent.com/u/68911216?v=4">
      </ion-avatar>
    </ion-card-header>

    <ion-card-content>
      <ion-card-title>João Porcel</ion-card-title>
      <p>Estudante de Computação</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Meu Github!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <a href="https://github.com/AX414"><img id="octocat" src="../assets/images/octocat.gif"></a>
    </ion-card-content>
  </ion-card>

</ion-content>
